apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: run-roxctl-scan
  namespace: default
spec:
  params:
    - name: namespace
      type: string
    - name: image
      type: string
    - name: output-file
      type: string
  stepTemplate:
    securityContext:
      runAsNonRoot: false
      runAsUser: 0
  steps:
    - computeResources: {}
      image: nicolaka/netshoot
      name: install-roxctl
      script: |
        #!/bin/sh
        arch="$(uname -m | sed "s/x86_64//")"; arch="${arch:+-$arch}"
        curl -L -f -o roxctl "https://mirror.openshift.com/pub/rhacs/assets/4.9.2/bin/Linux/roxctl${arch}"
        chmod +x roxctl
#        mv roxctl /usr/bin/
      workingDir: $(workspaces.binaries.path)
    - computeResources: {}
      image: nicolaka/netshoot
      name: install-oc
      script: |
        #!/bin/sh
        wget https://mirror.openshift.com/pub/openshift-v4/clients/ocp/latest/openshift-client-linux.tar.gz
        tar -zxvf openshift-client-linux.tar.gz oc # -C /usr/bin/
      workingDir: $(workspaces.binaries.path)
    - computeResources: {}
      image: nicolaka/netshoot 
      name: run-roxctl-scan
      script: |
        #!/bin/sh
        ls -al /workspace/output/
        export PATH=${PATH}:$(workspaces.binaries.path)
        echo $PATH
        roxctl version
        oc version
#        ./roxctl-scan.sh $(params.namespace) $(params.image) > $(params.output-file)
      workingDir: $(workspaces.output.path)
  workspaces:
    - description: |
        A workspace that contains the fetched git repository, data will be placed on the root of the
        Workspace, or on the relative path defined by the SUBDIRECTORY
        parameter.
      name: output
    - description: |
        Binaries
      name: binaries
    
